:root {
    --m-blue: #022F40;
    --m-purple: #38AECC;
    --m-brown: #0090C1;
    --m-pink: #395B50;
    --m-white: #046E8F;
}

body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 85px 20% auto;
    width: 100%;
    height: 100%;
    margin: 0 0;
}

.side-header {
    grid-column-start: 1;
    grid-column-end: 2;
    background: var(--m-white);
    height: 100vh;
}

.logo-container {
    background: var(--m-purple);
    width: 100%;
    height: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container i {
    color: white;
    font-size: 30px;
}

.side-header_icons-container {
    list-style: none;
}

.side-header_icons-container div {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.side-header_icons-container div i {
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    background: var(--m-blue);
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
    max-width: 400px;
    min-width: 200px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px dashed white;
    padding: 10px;
}

.sidebar-profile-name {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 15px;
}

.side-profile-money {
    color: white;
    font-size: 24px;
    margin-top: 16px;
}

.income-spending-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.up-arrow {
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid white;
    width: 15px;
    height: 15px;
    padding: 5px;
}

.down-arrow {
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid white;
    width: 15px;
    height: 15px;
    padding: 5px;
}

.income {
    margin-right: 0px;
    border-right: 1px solid white;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spending {
    margin-left: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1850px) {
    .income-spending-container {
        flex-direction: column;
    }

    .spending {
       margin-top: 15px;
       padding: 0;
    }

    .income {
        padding: 0;
    }
}

.credit-card-image {
    width: 90%;
    margin-top: 30px;
}

.main {
    grid-column-start: 3;
    grid-column-end: 4;
    background: white;
    display:flex;
    padding-left: 40px;
    padding-top: 40px;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    justify-items: left;
}

.savings-total {
    font-size: 14px;
    color: #a7a7a7;
}

.main-total-inner-container {
    display: flex;
    align-content: center;
    justify-content: left;
    justify-items: left;
    align-items: center;
}

.main-total_money {
    margin-right: 10px;
    font-size: 26px;
}

.main-total_percentage {
    background: var(--m-purple);
    color: white;
    padding: 2px 6px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 3px;
    height: 20px;
}

.time-frame-container {
    display: flex;
    margin-top: 15px;
}

.time-frame {
    margin-right: 10px;
    text-align: center;
}

.time-frame h3 {
    font-size: 14px;
    color: #a7a7a7;
}

.time-frame_plus {
    margin-right: 5px;
}

.colored-section-container {
    display: flex;
}

.home-savings {
    background: var(--m-white);
    padding: 20px;
    color: white;
    width: 50%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 250px;
    margin-top: 30px;
    margin-right: 15px;
}

.home-savings_50 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.home-savings-text {
    font-size: 12px;
    margin-bottom: 6px;
}

.home-savings-icon {
    font-size: 60px;
}

.car-savings {
    background: var(--m-brown);
    padding: 15px;
    color: white;
    width: 50%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 250px;
    margin-top: 30px;
}

.graphs {
    display: flex;
}

.graphs_left-container {
    padding: 20px;
    color: black;
    width: 50%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 250px;
    margin-top: 30px;
    margin-right: 15px;
    flex-direction: column;
}

.graphs_right-container {
    padding: 20px;
    color: black;
    width: 50%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 250px;
    margin-top: 30px;
    margin-right: 15px;
    flex-direction: column;
}

.last-container {
    grid-column-start: 1;
    grid-column-end: 4;
    background: var(--m-blue);
    width: 100%;
    height: 200px;
    max-width: 580px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
}

@media(max-width:850px) {
    .container {
        display: grid;
        grid-template-columns: 85px auto;
        grid-template-rows: 50% 50%;
        width: 100%;
        height: 100%;
        margin: 0 0;
    }

    .sidebar {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        max-width: none;
    }

    .main {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 0 10px;
    }

    .graphs {
        flex-direction: column;
        align-items: center;
    }
}